/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #57c84d;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}


h1
{
font-size: 3rem;
text-align: center;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
}

h3 {
font-size: 2rem;
  text-align: center;
  display: inline;
  text-align: center;
}

.row
{
display: flex;
flex-direction: row;
justify-content: center;

}

/* Responsive Styles */

/* For devices with a width less than or equal to 600px */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
h1
{
font-size: 2rem;
margin-bottom: 70px;

}
  h3

  {

    font-size: 1.5rem;
  }
}

/* For devices with a width greater than 600px and less than or equal to 768px */
@media (min-width: 601px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

h1
{
font-size: 2.5rem;
margin-bottom: 70px;

}
  h3

  {

    font-size: 2rem;
  }
}

/* For devices with a width greater than 768px and less than or equal to 992px */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 80%;
  }
}

/* For devices with a width greater than 992px */
@media (min-width: 993px) {
  .container {
    max-width: 60%;
  }
}
